# Python
__pycache__/
*.pyc
*.pyo
.venv/
backend/.venv/
backend/dist/
backend/build/
*.egg-info/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# OS
.DS_Store

# Env
.env
*.env

# Electron
electron/dist/
release/
node_modules/
# uv venv
backend/.venv/
*.venv/
uv.lock
